{% extends base.html %}
{% block content %}
<h1>Dino Viewer</h1>
<h3><a href="http://vacommunity.org/2015+VAST+Challenge%3A+MC1">Vast challenge 2015</a></h3>

<div id="main_map">
    <svg width="800" height="800" id="main_svg">
        <image xlink:href="{{static_url('ParkMap.jpg')}}" x="0" y="0" width="800px" height="800px"/>
    </svg>
</div>
<div id="clock">Clock</div>
<button id="show_guest_button">Show Random Guest</button>
<script type="text/javascript" src="static/dino_map.js"></script>

{% end %}